---
import BaseLayout from '../layouts/BaseLayout.astro'
import ProjectCard from '../components/basics/ProjectCard.astro'
import Button from '../components/basics/Button.astro'
import TechIcon from '../components/basics/TechIcon.astro'

import '../styles/custom-grid.css'
---

<BaseLayout extendedTitle="About">
    <div class="m-4 flex justify-center">
        <div
            class="flex w-fit flex-row items-center rounded-xl border-2 border-sky-700 bg-sky-500 p-1 text-blue-800"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                class="h-6 w-6 shrink-0 stroke-current"
                ><path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg
            >
            <div class="m-1">
                <p>This section is just an summary of my experiences.</p>
                <p>
                    If you want a more detailed CV, please <a
                        href="mailto:contact@bloomyindev.me"
                        class="underline">contact me</a
                    >
                </p>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center gap-2">
        <img src="/me.webp" alt="My logo" class="w-32 rounded-full" />
        <div class="flex flex-col items-center justify-center">
            <p class="text-3xl">Bastien aka Bloomy</p>
            <p class="text-xl">Student</p>
        </div>
    </div>
    <p class="text-center">
        Hello, i love codding lots of things. In general, i publish every project i work on my <a
            href="https://github.com/BloomyInDev"
            class="underline">Github</a
        >
    </p>
    <p class="my-2 grow text-center text-2xl">Collaboration projects</p>
    <div class="custom-grid grid place-items-center gap-2">
        <ProjectCard
            projectName="NuageBleu"
            projectDesc="NuageBleu is a Discord Bot. Everything is hosted by WinHeberg (no pub)"
            projectDate="From February 25, 2023 to now"
            projectUrl="https://nuagebleu.fr"
        >
            <TechIcon tech="NodeJS" /><TechIcon tech="Svelte" /><TechIcon
                tech="TailwindCss"
            /><TechIcon tech="Git" />
        </ProjectCard>
        <ProjectCard
            projectName="Dungeon Adventure"
            projectDesc="A little infinite dungeon game. Written with the Pyxel library"
            projectDate="From April, 2023 to July 18, 2023"
            projectUrl="https://github.com/BloomyInDev/Dungeon-Adventure"
        >
            <TechIcon tech="Python" />
        </ProjectCard>
    </div>
    <p class="my-2 grow text-center text-2xl">My projects</p>
    <div class="custom-grid grid place-items-center gap-2">
        <ProjectCard
            projectName="HeritageGenerator"
            projectDesc="A program to make family tree"
            projectDate="From October to November 2023"
            projectUrl="https://github.com/BloomyInDev/HeritageGenerator"
        >
            <TechIcon tech="Python" />
        </ProjectCard>
        <ProjectCard
            projectName="PokeLite"
            projectDesc="A game for a homework where i needed to program in OOP"
            projectDate="From October to November 2023"
            projectUrl="https://github.com/BloomyInDev/PokeLite"
        >
            <TechIcon tech="Python" />
        </ProjectCard>
        <ProjectCard
            projectName="Bloomy Website"
            projectDesc="The website you are actually looking rn"
            projectDate="From June 19, 2023 to now"
            projectUrl="https://github.com/BloomyInDev/BloomyWebsite"
        >
            <TechIcon tech="Astro" /><TechIcon tech="JavaScript" />
            <TechIcon tech="TailwindCss" />
        </ProjectCard>
        <ProjectCard
            projectName="Numworks Version Checker"
            projectDesc="A little service that notifies you on new version updates of the Numworks calculator"
            projectDate="From August 29, 2023 to now"
            projectUrl="https://github.com/BloomyInDev/NumworksVersionChecker"
        >
            <TechIcon tech="NodeJS" /><TechIcon tech="JavaScript" /><TechIcon tech="Docker" />
        </ProjectCard>
        <ProjectCard
            projectName="MotuWeb"
            projectDesc="A broken clone of Wordle in French. Deployed on GitHub Pages"
            projectDate="From March 27, 2023 to June 6, 2023"
            projectUrl="https://bloomyindev.github.io/MotuWeb"
        >
            <TechIcon tech="VueJS" /><TechIcon tech="Bootstrap" /><TechIcon tech="GitHub" />
        </ProjectCard>
        <ProjectCard
            projectName="Numworks Workshop Scrapper"
            projectDesc="A little script that let you download all your scripts"
            projectDate="From January 5, 2023"
            projectUrl="https://github.com/BloomyInDev/Numworks-Workshop-Scrapper"
        >
            <TechIcon tech="Python" />
        </ProjectCard>
        <ProjectCard
            projectName="BA SNT Website"
            projectDesc="My first real try at HTML, CSS and JavaScript. Deployed on GitHub Pages"
            projectDate="From February 8, 2022 to May 13, 2022"
            projectUrl="https://bloomyindev.github.io/BA-SNT-Website"
        >
            <TechIcon tech="Html" /><TechIcon tech="Css" /><TechIcon tech="JavaScript" /><TechIcon
                tech="GitHub"
            />
        </ProjectCard>
    </div>

    <p class="my-2 grow text-center text-2xl">My tools</p>

    <div class="m-1 rounded-2xl bg-gray-800 p-1">
        <button
            id="detailswitch"
            class="absolute right-3 m-1 rounded-lg bg-gray-600 p-1 text-center font-semibold transition-all delay-0 duration-200 ease-in-out hover:bg-blue-600"
            >Show more</button
        >
        <div id="lowdetailtools">
            <p class="text-xl">Solid knowledge</p>
            <p>Python</p>
            <p class="text-xl">Medium knowledge</p>
            <p>NodeJS, JavaScript, HTML, CSS, TailwindCss, Git, Github, Svelte, SQLite</p>
            <p class="text-xl">Basic knowledge</p>
            <p>Astro, Bootstrap, Vue 3, TypeScript, Vercel, Linux, Docker, Java, Go</p>
        </div>
        <div id="highdetailtools" class="hidden">
            <p class="text-xl">Solid knowledge</p>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Python" /> Python: Help me to prototype something fast without
                    having to worry on details
                </p>
            </div>
            <p class="text-xl">Medium knowledge</p>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="NodeJS" /> NodeJS: Useful to make backend server and other
                    things that rely on it
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p><TechIcon tech="JavaScript" /> JavaScript: It's used everywhere, idk why</p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Html" /><TechIcon tech="Css" />
                     HTML & CSS: A must to make a website
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="TailwindCss" /> Tailwind: To prototype an UI without having to
                    imagine any class name
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Git" /><TechIcon tech="GitHub" /> Git & GitHub: To share and
                    keep track of my work. Github pages is also quite practical to deploy small
                    websites
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Svelte" /> Svelte: An JavaScript framework that really good to
                    work with
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p><TechIcon tech="SQLite" /> SQLite & SQL: A must to work with databases</p>
            </div>
            <p class="text-xl">Basic knowledge</p>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Astro" />
                     Astro: Build fast website easily (less easily than with Svelte/SvelteKit)
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Bootstrap" />
                     Bootstrap: Useful back when i didn't know Tailwind
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p><TechIcon tech="VueJS" /> Vue 3: A good alternative to React</p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p><TechIcon tech="TypeScript" /> TypeScript: JavaScript but more strict</p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Vercel" /> Vercel: A neat way to deploy web apps without hassle
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Linux" /> Linux: When Windows can't do what i want (like
                    servers)
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Docker" /> Docker: To make an constant environment for my apps
                </p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p><TechIcon tech="Java" /> Java: To try to write Minecraft plugins</p>
            </div>
            <div class="my-2 flex items-center justify-start gap-1">
                <p>
                    <TechIcon tech="Go" /> Go: When i want to code something that run <a
                        class="italic">FAST</a
                    >
                </p>
            </div>
        </div>
    </div>
</BaseLayout>
<script>
    let detailstatus = true // True => Low details, False => High details
    let detailswitch = document.getElementById('detailswitch'),
        lowdetailtools = document.getElementById('lowdetailtools'),
        highdetailtools = document.getElementById('highdetailtools')
    detailswitch.addEventListener('click', () => {
        if (detailstatus) {
            detailswitch.innerText = 'Show less'
            highdetailtools.classList.remove('hidden')
            lowdetailtools.classList.add('hidden')
        } else {
            detailswitch.innerText = 'Show more'
            highdetailtools.classList.add('hidden')
            lowdetailtools.classList.remove('hidden')
        }
        detailstatus = !detailstatus
    })
</script>
