---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout extendedTitle="About">
    <p>Bastien aka Bloomy</p>
    <p>Student at Lycée Jean Moulin</p>
    <div class="hidden">
        <p>My passions</p>
        <ul>
            <li>Codding</li>
        </ul>
    </div>
    <p>This is WIP</p>
</BaseLayout>