---

---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/me.webp" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Bloomy Website</title>
        <!-- MetaData -->
        <meta property="og:title" content="Bloomy" />
        <meta property="og:description" content="Bloomy personal website" />
        <meta property="og:url" content="https://bloomyindev.vercel.app" />
        <meta property="description" content="Bloomy personal website" />
    </head>
    <body class="flex h-screen flex-col items-center justify-center bg-gray-800 text-lg text-white">
        <p>Bloomy's website isn't hosted here anymore</p>
        <br />
        <p>
            You will be redirected to the new place in <span id="countdown"></span> or <a
                href="https://bloomyindev.me"
                class="underline">now</a
            >
        </p>
        <script src="../script/main.js">
        </script>
    </body>
</html>
