---
const { extendedTitle } = Astro.props
import { ViewTransitions } from 'astro:transitions'
---

<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/me.webp" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{extendedTitle ? `${extendedTitle} - Bloomy Website` : 'Bloomy Website'}</title>
    <ViewTransitions />
    <!-- MetaData -->
    <meta property="og:title" content="Bloomy" />
    <meta property="og:description" content="Bloomy personal website" />
    <meta property="og:url" content="https://bloomyindev.me" />
    <meta property="description" content="Bloomy personal website" />
</head>
