---
import NavButton from './basics/NavButton.astro'
---

<header
    class="m-2 flex justify-between rounded-2xl bg-gray-800 p-2 text-lg shadow-xl"
    transition:persist
>
    <h1 class="flex items-center text-2xl font-bold">
        <a href="/" rel="prefetch" class="md:after:content-['_Website']">Bloomy</a>
    </h1>
    <nav class="flex">
        <NavButton href="/blog/" text="Blog" />
        <NavButton href="/about/" text="About" />
    </nav>
</header>
