---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const {extendedTitle} = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{extendedTitle ? `${extendedTitle} - Bloomy Website` : "Bloomy Website"}</title>
        <!-- MetaData -->
        <meta property="og:title" content="Bloomy">
        <meta property="og:description" content="Bloomy personal website" />
        <meta property="og:url" content="https://bloomyindev.vercel.app">
        <meta property="description" content="Bloomy personal website" />
        <!-- Vercel Insights -->
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </head>
    <body class="m-0 bg-gray-700 text-gray-300 flex flex-col justify-between h-full min-h-screen">
            <Navigation/>
            <div class="m-1">
                <slot/>
            </div>
            <Footer/>
    </body>
</html>