---
import Head from '../components/Head.astro'
import Navigation from '../components/Navigation.astro'
import Footer from '../components/Footer.astro'
const { extendedTitle } = Astro.props
---

<html lang="en">
    <Head extendedTitle={extendedTitle} />
    <body class="bg-gradient-to-b from-blue-950 to-blue-900">
        <div class="layout m-0 grid h-full min-h-screen text-gray-300">
            <Navigation />
            <div class="m-1">
                <slot />
            </div>
            <Footer />
        </div>
        <style>
            .layout {
                grid-template-rows: auto 1fr auto;
            }
        </style>
    </body>
</html>
