---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const {extendedTitle} = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="icon" href="/me.webp" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{extendedTitle ? `${extendedTitle} - Bloomy Website` : "Bloomy Website"}</title>
        <!-- MetaData -->
        <meta property="og:title" content="Bloomy">
        <meta property="og:description" content="Bloomy personal website" />
        <meta property="og:url" content="https://bloomyindev.vercel.app">
        <meta property="description" content="Bloomy personal website" />
        <!-- Vercel Insights -->
        <script>
            window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
        </script>
        <script defer src="/_vercel/insights/script.js"></script>
    </head>
    <body class="from-blue-950 to-blue-900 bg-gradient-to-b">
        <div class="overflow-hidden"><div class="absolute top-0 left-0 -z-50 gradient w-full h-full"/></div>
        <div class="m-0 text-gray-300 flex flex-col justify-between h-full min-h-screen">
            <Navigation/>
            <div class="m-1">
                <slot/>
            </div>
            <Footer/>
        </div>
    </body>
</html>
<style>
    @keyframes mover {
        0% { transform: scale(50%); }
        100% { transform: scale(100%); }
    }
    @keyframes mover-phone {
        0% { transform: scale(25%); }
        100% { transform: scale(100%); }
    }
    .gradient {
        opacity: 1;
        background: content-box radial-gradient(circle, rgb(56 189 248), transparent 25%);
        animation: mover 2.5s infinite alternate;
    }
    @media (max-width: 768px) { 
        .gradient {
            opacity: 1;
            background: content-box radial-gradient(circle, rgb(56 189 248), transparent 40%);
            animation: mover-phone 2.5s infinite alternate;
            
        } 
    }
</style>